{% extends "AppBundle:Default:admin.html.twig"%}
{% block action_content %}

    <div class="panel panel-default">
        <div class="panel-heading">Alta de Registro</div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}   
